# Dependencies
node_modules/

# Production Build Outputs
dist/
dist-ssr/

# Environment Variables & Sensitive Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# Editor & Temp Files
.DS_Store
Thumbs.db
.cache/
.vite/
